{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
  <div id="formAdd">
		<p>Форма добавления записей</p>
		
		<p>
			<label>Тип оборудования</label>
			<select v-model="selected_type">
				<option v-for="option in options" v-bind:value="option.id">
					{% verbatim %}{{ option.name }}{% endverbatim %}
				</option>
			</select>
		</p>
		
		<p>
			<label>Серийные номера</label>
			<textarea required v-model="serial_number"></textarea>
		</p>
		
		<p>
			<label>Примечание</label>
			<textarea v-model="note"></textarea>
		</p>
    <button v-on:click="sendData">Добавить</button>
  </div>
  
  <script src="{% static 'js/vueApp.js' %}"></script>
</body>
</html>
