{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue@2"></script>
  <!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/css/uikit.min.css" />

	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/js/uikit-icons.min.js"></script>
</head>
<body>
  <div id="formAdd" class="uk-margin-left">
		<form v-on:submit.prevent="sendData" class="uk-form-horizontal">
			<fieldset class="uk-fieldset">
				<legend class="uk-legend">Добавить оборудование</legend>
				<div class="uk-margin">
					<label class="uk-form-label">Тип оборудования</label>
					<div class="uk-form-controls">
						<select required v-model="selected_type" class="uk-select uk-form-width-large">
							<option v-for="option in options" v-bind:value="option.id">
								{% verbatim %}{{ option.name }}{% endverbatim %}
							</option>
						</select>
					</div>
				</div>

				<div class="uk-margin">
					<label class="uk-form-label">Серийные номера</label>
					<div class="uk-form-controls">
						<textarea required v-model="serial_number" class="uk-textarea uk-form-width-large"></textarea>
					</div>
				</div>

				<div class="uk-margin">
					<label class="uk-form-label">Примечание</label>
					<div class="uk-form-controls">
						<textarea v-model="note" class="uk-textarea uk-form-width-large"></textarea>
					</div>
				</div>
				<button class="uk-button uk-button-primary">Добавить</button>
			</fieldset>
		</form>
  </div>
	<hr>
  <div id="formView" class="uk-margin-left">
		<form v-on:submit.prevent="getData">
			<fieldset class="uk-fieldset">
				<legend class="uk-legend">Поиск</legend>
				<div class="uk-margin">
					<input required v-model="searchText" class="uk-input uk-form-width-medium">
					<button class="uk-button uk-button-primary">Поиск</button>
				</div>
			</fieldset>
		</form>
		<table class="uk-table uk-table-small">
			<tr>
				<th class="uk-table-shrink">Tип оборудования</th>
				<th class="uk-table-shrink">Серийный номер</th>
				<th class="uk-table-shrink">Примечание</th>
				<th>Действия</th>
			</tr>
			<tr
				is="equipment-item"
				ref="row"
				v-for="(equipment, index) in equipments"
				v-bind:key="equipment.id"
				v-bind:equipment="equipment"
				v-bind:options="options"
				v-on:remove="remData(equipment.id, index)"
				v-on:modify="modData(equipment.id, index, $event)"
			></tr>
		</table>
		<p><button v-on:click="addData" v-if="show_load_more" class="uk-button uk-button-primary">Загрузить еще</button></p>
	</div>

	<script src="{% static 'js/vueApp.js' %}"></script>
</body>
</html>
